/* Good for large screens! */
html{
    font-size: 20px;
    background-image: url('https://media.allure.com/photos/5e46c3995993fc0009700fc4/1:1/w_1986,h_1986,c_limit/clouds.jpg');
}
body {
    display: block;
    margin: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
h1 {
    text-align: center;
    font-size: 50px;
    background: rgb(184, 111, 111);
    box-shadow: 0 10px 20px pink;
}
div {
    text-align: center;
    width: 320px;
    padding: 10px;
    border: 5px solid black;
    margin: 0;
    position: relative;
    left: 40px;
    top: 200px; 
  }
#second-box{
    text-align: center;
    width: 320px;
    padding: 10px;
    border: 5px solid black;
    margin: 0;
    position: relative;
    left: 70px;
    top: -10px;
} 
#image1 {
    width: 500px;
    height: 500px;
    position: relative;
    left: 450px;
    bottom: 150px;
}
#image2 {
    width: 250px;
    height: 300px;
    position: relative;
    left: 500px;
    bottom: 225px;
    border: 19px solid rgb(184, 111, 111);
}
#link-box {
    position: relative;
    left: 850px;
    top: -500px;
}
#image3 {
    position: relative;
    left:270px;
    top: -320px;
}
.quotes {
    font-size: 25px;
    text-align: center;
    color: black;
    background: rgb(184, 111, 111);
    padding: 12px;
    box-shadow: 0 10px 20px pink;
    position: relative;
    top: -150px;
}
#quotes {
    font-size: 25px;
    text-align: center;
    color: black;
    background: rgb(184, 111, 111);
    padding: 12px;
    box-shadow: 0 10px 20px pink;
    position: relative;
    top: -350px;
}
.socials {
    font-size: 30px;
    position: relative;
    top: -100px;
}
#image4 {
    width: 300px;
    position: relative;
    left: 500px;
    top: -300px;
}
.text-size {
    font-size: 20px;;
}
/* Medium Screen */
@media only screen and (max-device-width: 480px) {
        h1 {
            display: flex;;
        }
        div {
            width: 400px;
            display: grid;
            place-items: center;
        }

        div#header {
            height: 93px;
            display: grid;
            place-items: center;
        }
        p {
            margin: 0px;
            padding: 0px;
            font-size: 1.15rem;
        }

        #image1 {
            float:none;
            width: auto;
            display: grid;
            place-items: center;
        }
        #image4 {
            float:none;
            width: auto;
        }
        #second-box{
            flex: 1 1 150px;
            margin: 5px;
            display: flex;
        }
        #image2 {
            flex: 1 1 150px;  
              margin: 5px;
              display: flex;
        }
        #link-box {
            flex: 1 1 150px;
            margin: 5px;
            display: flex;
        }
        .text-size {
            font-size: 35px;
        }
    }

/* Small screen */
@media only screen and (max-device-width: 600px) {
        h1 {
            display: flex;;
        }
        div {
            width: 400px;
            display: grid;
            place-items: center;
            flex: 1 1 200px;
            margin: 5px;
        }

        div#header {
            height: 60px;
            display: grid;
            place-items: center;
        }
        p {
            margin: 0px;
            padding: 0px;
            font-size: 2rem;
            font-size: 20px;
        }

        #image1 {
            float:none;
            width: auto;
            display: grid;
            position: relative;
            right: 300px; 
            bottom: 200px; 
            
        }
        #image4 {
            float:none;
            width: 200px;
        }
        #second-box{
            flex: 1 1 200px;
            margin: 5px;
            width: 400px;
        }
        #image2 {
            flex: 1 1 200px;  
            margin: 5px;
            position: relative;
            top: 100px;
        }
        #link-box {
            flex: 1 1 200px;
            margin: 5px;
        }
        .text-size {
            font-size: 35px;
        }
    }